<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <title><%= name %></title>
    <!-- STYLES -->
    <% _.forEach(font, function(url) { %>
    <link rel="stylesheet" type="text/css" href="<%= url %>"/>
    <% }); %>
    <% _.forEach(css, function(url) { %>
    <link rel="stylesheet" type="text/css" href="<%= url %>"/>
    <% }); %>
    <!-- SCRIPTS -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% _.forEach(js, function(url) { %>
    <script src="<%= url %>"></script>
    <% }); %>
    <% _.forEach(app, function(url) { %>
    <script src="<%= url %>"></script>
    <% }); %>
</head>
<body ng-app="example">

<div id="content-wrapper" class="container-fluid fill" ng-controller="ExampleCtrl" ng-init="init()">
    <div class="row fill">
        <div id="left" class="col-lg-4 col-md-4 col-sm-6 fill">
            <h1>Angular JSNLog</h1>
            <p class="lead">
                Capture client side log messages and forward them to your server
                for storage and processing.
                <a href="https://github.com/elmarquez/angular-jsnlog">angular-jsnlog</a> is a drop-in
                replacement for Angular's $log service, provided by the
                amazing <a href="http://jsnlog.com/">JSNLog</a> library.
            </p>
            <p>
                Use Bower to automatically install angular-jsnlog and its
                dependencies in your project.
            </p>
            <div class="code">bower install -S angular-jsnlog</div>
            <p>
                Refer to the README.md document for instructions on how to
                install and configure logging.
            </p>

            <h3>Try It Out</h3>
            <p>
                Click a button to create a new logging event. JSNLog will batch
                and then send the log message to the remote server. The log view
                polls the remote server every few seconds and shows you the
                updated log.
            </p>
            <div class="centered-block">
                <ul class="inline">
                    <li><button class="btn btn-success" ng-click="debug()">DEBUG</button></li>
                    <li><button class="btn btn-info" ng-click="info()">INFO</button></li>
                    <li><button class="btn btn-danger" ng-click="error()">ERROR</button></li>
                </ul>
            </div>
        </div>
        <div id="right" class="col-lg-8 col-md-8 col-sm-6 fill">
            <ul class="list">
                <li ng-repeat="line in log track by $index">{{ line }}</li>
            </ul>
        </div>
    </div>
</div>

<!-- github fork me corner banner -->
<a href="https://github.com/elmarquez/angular-jsnlog">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
         src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
         alt="Fork me on GitHub"
         data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

</body>
</html>